atari_py==0.2.9
Box2D==2.3.10
gym==0.26.2
lz4==3.0.2
matplotlib==3.4.2
mpi4py==3.1.4
mujoco_py==2.1.2.14
numpy==1.20.3
opencv_python==4.5.4.58
pyglet==2.0.7
pytest==4.6.9
scipy==1.7.3
setuptools==60.9.0
six==1.14.0
torch==2.0.1
